body {
    margin: 0;
    padding: 0;
    background: #111;
    font-family: "Poppins", sans-serif;
    color: white;
}

.container {
    width: 90%;
    max-width: 450px;
    margin: auto;
    padding: 20px;
    text-align: center;
}

.title {
    font-size: 28px;
    font-weight: 700;
    margin-top: 20px;
}

.subtitle {
    opacity: 0.7;
    margin-bottom: 20px;
}

form select {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    background: #222;
    border: 1px solid #444;
    color: white;
    border-radius: 8px;
}

button, .btn {
    width: 100%;
    margin-top: 20px;
    padding: 12px;
    background: #e91e63;
    border: none;
    color: white;
    font-size: 18px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #ff2f7d;
}

.result-box {
    animation: fade 0.6s ease-out;
}

/* Girl Image */
.girl-img {
    width: 100%;
    height: 450px;
    object-fit: 100%;
    border-radius: 12px;
    filter: blur(10px);
    opacity: 0;
    transition: 0.8s;
}

.girl-img.loaded {
    filter: blur(0px);
    opacity: 1;
}

.gift-card {
    background: #222;
    padding: 15px;
    border-radius: 10px;
    margin-top: 20px;
}

@keyframes fade {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
}
